::selection {
  background: #262a30;
  color: #fff;
}
html,
body {
  height: 100%;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
  position: relative;
  font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #59606a;
  background: #eeeff0;
}
@media (max-width: 991px) {
  body {
    padding-right: 0 !important;
  }
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
p {
  text-align: left;
}
ul,
ol {
  padding-left: 20px;
}
a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: transparent;
  color: #59606a;
  text-decoration: none;
  outline: none;
  border-bottom: 1px dashed #697079;
  cursor: pointer;
}
a:hover {
  color: #7a8088;
  border-bottom-color: #697079;
}
a.un-decoration {
  border-bottom: 0;
}
video {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
blockquote {
  margin: 0;
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ddd;
}
blockquote cite::before {
  content: "-";
  padding: 0 5px;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0;
  padding: 0;
}
kbd {
  border: 1px solid #ccc;
  border-radius: 0.2em;
  background-color: #f9f9f9;
  font-family: inherit;
  background-image: linear-gradient(top, #eee, #fff, #eee);
  padding: 0.1em 0.3em;
  white-space: nowrap;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  vertical-align: middle;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pullquote {
  width: 45%;
}
.pullquote.left {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}
.pullquote.right {
  float: right;
  margin-left: 10px;
  margin-right: 5px;
}
.affix {
  position: fixed;
}
.translation {
  margin-top: -20px;
  font-size: 14px;
  color: #999;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.table-container {
  margin: 20px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.highlight .table-container,
.gist .table-container {
  margin: 0px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}
caption,
th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
th,
td {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
}
th {
  padding-bottom: 10px;
  font-weight: 700;
  white-space: nowrap;
}
td {
  border-bottom-width: 1px;
  white-space: pre;
}
.container {
  position: relative;
}
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: 800px;
}
@media (min-width: 1200px) {
  .container .header-inner {
    width: 960px;
  }
}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 1024px;
  }
}
.main-inner {
  margin: 0 auto;
  width: 800px;
}
@media (min-width: 1200px) {
  .container .main-inner {
    width: 960px;
  }
}
@media (min-width: 1600px) {
  .container .main-inner {
    width: 1024px;
  }
}
.footer {
  padding: 20px 0;
}
.footer-inner {
  box-sizing: border-box;
  margin: 0px auto;
  width: 800px;
}
@media (min-width: 1200px) {
  .container .footer-inner {
    width: 960px;
  }
}
@media (min-width: 1600px) {
  .container .footer-inner {
    width: 1024px;
  }
}
pre,
.highlight {
  margin: 20px 0;
  font-size: 95%;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
pre,
code {
  font-family: 'Inconsolata', consolas, 'PingFang SC', 'Microsoft YaHei', monospace;
}
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background: #eee;
  border-radius: 3px;
  color: #555;
  padding: 2px 4px;
}
pre {
  overflow: auto;
  padding: 10px;
}
pre code {
  background: none;
  color: #4d4d4c;
  padding: 0;
  text-shadow: none;
}
.highlight *::selection {
  background: #d6d6d6;
}
.highlight pre {
  border: 0;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  border: 0;
  margin: 0;
  width: auto;
}
.highlight td {
  border: 0;
  padding: 0;
}
.highlight figcaption {
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
  color: #4d4d4c;
  line-height: 1em;
  margin: 0;
  padding: 0.5em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  color: #4d4d4c;
  float: right;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  background-color: #eff2f3;
  color: #869194;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
.highlight .code pre {
  background-color: #f7f7f7;
  padding-left: 10px;
  width: 100%;
}
.gist table {
  width: auto;
}
.gist table td {
  border: 0;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #eab700;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .symbol,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.posts-expand .post-body img.full-image {
  border: none;
}
.blockquote-center,
.page-home .post-type-quote blockquote,
.page-post-detail .post-type-quote blockquote {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before,
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 24px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 -6px;
  background-size: 22px 22px;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before {
  top: -20px;
  background-image: url("../images/quote-l.svg");
  border-top: 1px solid #ccc;
}
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  bottom: -20px;
  background-image: url("../images/quote-r.svg");
  border-bottom: 1px solid #ccc;
  background-position: 100% 8px;
}
.blockquote-center p,
.page-home .post-type-quote blockquote p,
.page-post-detail .post-type-quote blockquote p,
.blockquote-center div,
.page-home .post-type-quote blockquote div,
.page-post-detail .post-type-quote blockquote div {
  text-align: center;
}
.post-body .label {
  display: inline;
  padding: 0 2px;
}
.post-body .label.default {
  background-color: #f0f0f0;
}
.post-body .label.primary {
  background-color: #efe6f7;
}
.post-body .label.info {
  background-color: #e5f2f8;
}
.post-body .label.success {
  background-color: #e7f4e9;
}
.post-body .label.warning {
  background-color: #fcf6e1;
}
.post-body .label.danger {
  background-color: #fae8eb;
}
.post-body .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.post-body .note header {
  margin-top: 3px;
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
  font-size: 1.2em;
  line-height: 1.2rem;
  font-weight: bold;
}
.post-body .note p:first-child,
.post-body .note ul:first-child,
.post-body .note ol:first-child,
.post-body .note table:first-child,
.post-body .note pre:first-child,
.post-body .note blockquote:first-child {
  margin-top: 0;
}
.post-body .note p:last-child,
.post-body .note ul:last-child,
.post-body .note ol:last-child,
.post-body .note table:last-child,
.post-body .note pre:last-child,
.post-body .note blockquote:last-child {
  margin-bottom: 0;
}
.post-body .note:not(.no-icon) {
  padding-left: 45px;
}
.post-body .note:not(.no-icon):before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: larger;
  top: 13px;
  left: 15px;
}
.post-body .note.default {
  border-left-color: #777;
}
.post-body .note.default header,
.post-body .note.default:before {
  color: #777;
}
.post-body .note.default:not(.no-icon):before {
  content: "\f0a9";
}
.post-body .note.primary {
  border-left-color: #6f42c1;
}
.post-body .note.primary header,
.post-body .note.primary:before {
  color: #6f42c1;
}
.post-body .note.primary:not(.no-icon):before {
  content: "\f055";
}
.post-body .note.info {
  border-left-color: #428bca;
}
.post-body .note.info header,
.post-body .note.info:before {
  color: #428bca;
}
.post-body .note.info:not(.no-icon):before {
  content: "\f05a";
}
.post-body .note.success {
  border-left-color: #5cb85c;
}
.post-body .note.success header,
.post-body .note.success:before {
  color: #5cb85c;
}
.post-body .note.success:not(.no-icon):before {
  content: "\f058";
}
.post-body .note.warning {
  border-left-color: #f0ad4e;
}
.post-body .note.warning header,
.post-body .note.warning:before {
  color: #f0ad4e;
}
.post-body .note.warning:not(.no-icon):before {
  content: "\f06a";
}
.post-body .note.danger {
  border-left-color: #d9534f;
}
.post-body .note.danger header,
.post-body .note.danger:before {
  color: #d9534f;
}
.post-body .note.danger:not(.no-icon):before {
  content: "\f056";
}
img {
  margin: auto;
  max-width: 100%;
  height: auto;
}
img.center {
  display: block;
  margin: 14px auto;
}
img.box {
  display: block;
  margin: 14px auto;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #ddd;
}
.post-body .image-caption {
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #59606a;
  background: #fff;
  border: 2px solid #59606a;
  text-decoration: none;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}
.btn +.btn {
  margin: 0 0 8px 8px;
}
.btn .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.btn-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #59606a;
  border-radius: 1px;
}
.btn-bar+.btn-bar {
  margin-top: 4px;
}
.pagination {
  margin: 120px 0 40px;
  text-align: center;
  border-top: 1px solid #eee;
}
.page-number-basic,
.pagination .prev,
.pagination .next,
.pagination .page-number,
.pagination .space {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 0 11px;
}
@media (max-width: 767px) {
  .page-number-basic,
  .pagination .prev,
  .pagination .next,
  .pagination .page-number,
  .pagination .space {
    margin: 0 5px;
  }
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  border-bottom: 0;
  border-top: 1px solid #eee;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  border-top-color: #222;
}
.pagination .space {
  padding: 0;
  margin: 0;
}
.pagination .prev {
  margin-left: 0;
}
.pagination .next {
  margin-right: 0;
}
.pagination .page-number.current {
  color: #fff;
  background: #ccc;
  border-top-color: #ccc;
}
@media (max-width: 767px) {
  .pagination {
    border-top: none;
  }
  .pagination .prev,
  .pagination .next,
  .pagination .page-number {
    margin-bottom: 10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
  }
  .pagination .prev:hover,
  .pagination .next:hover,
  .pagination .page-number:hover {
    border-bottom-color: #222;
  }
}
.comments {
  margin: 60px 20px 0;
  overflow: hidden;
}
.comment-button-group {
  margin: 1.2em 0 0.6em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.comment-button-group .comment-button {
  margin: 0.1em 0.2em;
  border-radius: 0.5em;
}
.comment-button-group .comment-button.active {
  background: #222;
  border-color: #222;
  color: #fff;
}
.comment-position {
  display: none;
}
.comment-position.active {
  display: block;
}
.header {
  background: transparent;
}
.header-inner {
  position: relative;
}
.headband {
  height: 3px;
  background: #eee;
}
@media (max-width: 991px) {
  .headband {
    background: #48505b;
  }
}
.site-meta {
  margin: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .site-meta {
    text-align: center;
  }
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
}
.brand:hover {
  color: #fff;
}
.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Lobster', 'Itim', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
.site-subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: #ddd;
  text-align: center;
}
.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (max-width: 767px) {
  .site-nav-toggle {
    display: block;
  }
}
.site-nav-toggle button {
  margin-top: 2px;
  padding: 9px 10px;
  background: transparent;
  border: none;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
    border-top: 1px solid #ddd;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .site-nav {
    display: block !important;
  }
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.menu .menu-item {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}
@media (max-width: 767px) {
  .menu .menu-item {
    margin-top: 10px;
  }
}
.menu .menu-item a {
  display: block;
  font-size: 13px;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu .menu-item a:hover {
  border-bottom-color: #222;
}
.menu .menu-item .fa {
  margin-right: 5px;
}
.sub-menu-wrap {
  background-color: #fff;
  border-radius: 0.5rem;
}
.sub-menu {
  margin: 0;
  padding: 6px 0;
  border-top: 0.5px dotted #dedfe1;
}
.sub-menu+ #content > #posts .post-block {
  margin-top: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sub-menu+ #content > #posts .post-block {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .sub-menu+ #content > #posts .post-block {
    margin-top: 8px;
  }
}
.sub-menu:first-child {
  margin-top: 10px;
  border-top: initial !important;
}
.sub-menu .menu-item {
  display: inline-block !important;
}
.sub-menu .menu-item a {
  padding: initial !important;
  margin: 5px 10px;
}
.sub-menu .menu-item a:hover {
  background: initial !important;
  color: #fc6423;
}
.sub-menu .menu-item a:after {
  display: none !important;
}
.sub-menu .menu-item-active a {
  background: #fff !important;
  color: #fc6423;
}
.sub-menu .menu-item-active a:hover {
  background: #fff !important;
}
.post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
.post-body .figure .caption {
  margin: -20px auto 15px;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}
.post-banner {
  margin-bottom: -10px;
}
.post-banner img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.post-body {
  padding: 5px 20px 20px;
}
.posts-expand {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }
  .post-body pre .gutter pre {
    padding-right: 10px;
  }
  .post-body .highlight {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  }
  .post-body .highlight .gutter pre {
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
@media (max-width: 991px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
  padding-top: 10px;
}
.posts-expand .post-body h2 .header-anchor,
.posts-expand .post-body h3 .header-anchor,
.posts-expand .post-body h4 .header-anchor,
.posts-expand .post-body h5 .header-anchor,
.posts-expand .post-body h6 .header-anchor {
  float: right;
  margin-left: 10px;
  color: #ccc;
  border-bottom-style: none;
  visibility: hidden;
}
.posts-expand .post-body h2 .header-anchor:hover,
.posts-expand .post-body h3 .header-anchor:hover,
.posts-expand .post-body h4 .header-anchor:hover,
.posts-expand .post-body h5 .header-anchor:hover,
.posts-expand .post-body h6 .header-anchor:hover {
  color: inherit;
}
.posts-expand .post-body h2:hover .header-anchor,
.posts-expand .post-body h3:hover .header-anchor,
.posts-expand .post-body h4:hover .header-anchor,
.posts-expand .post-body h5:hover .header-anchor,
.posts-expand .post-body h6:hover .header-anchor {
  visibility: visible;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.posts-collapse {
  position: relative;
  z-index: 1010;
  margin-left: 55px;
}
.posts-collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
}
.posts-collapse .collection-title {
  position: relative;
  margin: 0;
}
.posts-collapse .collection-title h1,
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
  margin-left: 5px;
}
.posts-collapse .collection-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #222;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
}
.posts-collapse .post-comments-count {
  display: none;
}
.posts-collapse .post-title {
  margin-left: 60px;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a {
  color: #666;
  border-bottom: none;
}
.page-home .post-type-quote .post-header,
.page-post-detail .post-type-quote .post-header,
.page-home .post-type-quote .post-tags,
.page-post-detail .post-type-quote .post-tags {
  display: none;
}
.posts-expand .post-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: blod;
  padding: 20px 20px 10px;
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: #59606a;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #59606a;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-title-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.posts-expand .post-title-link .fa {
  font-size: 20px;
  margin-left: 5px;
}
.posts-expand .post-meta {
  margin: 0;
  color: #999;
  font-family: 'Itim', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 11px;
  background-color: #dedfe1;
  padding: 5px 20px;
}
.posts-expand .post-meta .post-category-list {
  display: inline-block;
  margin: 0;
  padding: 3px;
}
.posts-expand .post-meta .post-category-list-link {
  color: #999;
}
.posts-expand .post-meta .post-description {
  margin-top: 2px;
}
.posts-expand .post-meta time {
  border-bottom: 0;
  cursor: help;
}
.posts-expand .post-meta a {
  border-bottom: 0;
}
.post-meta-divider {
  margin: 0 0.5em;
}
.post-meta .post-meta-item + .post-meta-item::before {
  content: "|";
  margin: 0 0.5em;
}
.post-meta-item-icon {
  margin-right: 3px;
}
@media (max-width: 991px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
.post-meta-item-text {
  display: none;
}
@media (max-width: 991px) {
  .post-meta-item-text {
    display: none;
  }
}
.posts-expand .post-tags {
  margin-top: 20px;
  text-align: center;
}
.posts-expand .post-tags a {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
}
.post-nav {
  display: table;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post-nav-divider {
  display: table-cell;
  width: 10%;
}
.post-nav-item {
  display: table-cell;
  padding: 2px 0;
  width: 45%;
  vertical-align: top;
}
.post-nav-item a {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #59606a;
  border-bottom: none;
}
.post-nav-item a:hover {
  color: #7a8088;
  border-bottom: none;
}
.post-nav-item a:active {
  top: 2px;
}
.post-nav-item .fa {
  font-size: 12px;
  margin-right: 5px;
}
.post-nav-next a {
  padding-left: 5px;
}
.post-nav-prev {
  text-align: right;
}
.post-nav-prev a {
  padding-right: 5px;
}
.post-nav-prev .fa {
  margin-left: 5px;
}
.posts-expand .post-eof {
  margin: 80px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}
.post:last-child .post-eof {
  display: none;
}
.post-copyright {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}
.post-copyright i.fa {
  font-size: 15px;
}
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1040;
  background: #222;
}
.sidebar a {
  color: #999;
  border-bottom-color: #555;
}
.sidebar a:hover {
  color: #eee;
  border-bottom-color: #eee;
}
.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  color: #999;
  text-align: center;
}
.site-overview-wrap {
  overflow: hidden;
}
.site-overview {
  overflow-y: auto;
  overflow-x: hidden;
}
.cc-license {
  margin-top: 10px;
  text-align: center;
}
.cc-license .cc-opacity {
  opacity: 0.7;
  border-bottom: none;
}
.cc-license .cc-opacity:hover {
  opacity: 0.9;
}
.cc-license img {
  display: inline-block;
}
.sidebar-toggle {
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 14px;
  height: 14px;
  padding: 5px;
  background: #222;
  line-height: 0;
  z-index: 1050;
  cursor: pointer;
}
@media (max-width: 991px) {
  .sidebar-toggle {
    opacity: 0.8;
    right: 20px;
  }
}
.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-top: 3px;
}
.sidebar-toggle-line:first-child {
  margin-top: 0;
}
.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 120px;
  height: auto;
  border: 1px solid #eee;
  opacity: 1;
}
.site-author-image {
  border-radius: 100%;
}
.site-author-name {
  margin: 0;
  text-align: center;
  color: #222;
  font-weight: 600;
}
.site-description {
  margin-top: 0;
  text-align: center;
  font-size: 13px;
  color: #999;
}
.links-of-author {
  margin-top: 10px;
}
.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom-color: #555;
  font-size: 13px;
}
.links-of-author a:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #4dcd6a;
}
.feed-link,
.chat {
  margin-top: 10px;
}
.feed-link a,
.chat a {
  display: inline-block;
  padding: 0 15px;
  color: #fc6423;
  border: 1px solid #fc6423 !important;
  border-radius: 4px;
}
.feed-link a i,
.chat a i {
  color: #fc6423;
  font-size: 14px;
}
.feed-link a:hover,
.chat a:hover {
  color: #fff;
  background: #fc6423;
}
.feed-link a:hover i,
.chat a:hover i {
  color: #fff;
}
.links-of-blogroll {
  margin-top: 10px;
  font-size: 13px;
}
.links-of-blogroll-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.links-of-blogroll-item {
  padding: 2px 10px;
}
.links-of-blogroll-item a {
  max-width: 280px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}
.sidebar-nav li:hover {
  color: #fc6423;
}
.page-post-detail .sidebar-nav-toc {
  padding: 0 5px;
}
.page-post-detail .sidebar-nav-overview {
  margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #fc6423;
}
.sidebar-panel {
  display: none;
  animation-fill-mode: forwards;
}
.sidebar-panel-active {
  display: block;
  animation: opacity-show 0.2s;
  animation-fill-mode: forwards;
}
@-moz-keyframes opacity-show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes opacity-show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes opacity-show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
@keyframes opacity-show {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
.site-state {
  display: flex;
  justify-content: center;
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
  margin-top: 10px;
}
.site-state-item {
  padding: 0 15px;
  border-left: 1px solid #eee;
}
.site-state-item:first-child {
  border-left: none;
}
.site-state-item a {
  border-bottom: none;
}
.site-state-item-count {
  display: block;
  text-align: center;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
}
.site-state-item-name {
  font-size: 13px;
  color: #999;
}
.post-toc-empty {
  font-size: 14px;
  color: #666;
}
.post-toc-wrap {
  overflow: hidden;
}
.post-toc {
  overflow: auto;
}
.post-toc ol {
  margin: 0;
  padding: 0 2px 5px 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.post-toc ol > ol {
  padding-left: 0;
}
.post-toc ol a {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  color: #666;
  border-bottom-color: #ccc;
}
.post-toc ol a:hover {
  color: #000;
  border-bottom-color: #000;
}
.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
}
.post-toc .nav .nav-child {
  display: none;
}
.post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc .nav .active > a {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.post-toc .nav .active-current > a {
  color: #fc6423;
}
.post-toc .nav .active-current > a:hover {
  color: #fc6423;
}
.footer {
  font-size: 14px;
  color: #999;
}
.footer img {
  border: none;
}
.footer-inner {
  text-align: center;
}
#animate {
  animation: iconAnimate 1.33s ease-in-out infinite;
}
.with-love {
  display: inline-block;
  margin: 0 5px;
  color: #ff0000;
}
.powered-by,
.theme-info {
  display: inline-block;
}
@-moz-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
.page-archive .archive-page-counter {
  position: relative;
  top: 6px;
  left: 20px;
}
@media (max-width: 767px) {
  .page-archive .archive-page-counter {
    top: 5px;
  }
}
.page-archive .posts-collapse .archive-move-on {
  position: absolute;
  top: 11px;
  left: 0;
  margin-left: -6px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}
.page-archive .fa-external-link {
  font-size: 15px;
  margin-left: 5px;
}
.post-block.archive {
  padding: 10px 0 30px;
}
.category-all-page .category-all-title {
  text-align: center;
}
.category-all-page .category-all {
  margin-top: 20px;
}
.category-all-page .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-all-page .category-list-item {
  margin: 5px 10px;
}
.category-all-page .category-list-count {
  color: #bbb;
}
.category-all-page .category-list-count:before {
  display: inline;
  content: " (";
}
.category-all-page .category-list-count:after {
  display: inline;
  content: ") ";
}
.category-all-page .category-list-child {
  padding-left: 10px;
}
.post-block.category {
  padding: 10px 0 30px;
}
.page-post-detail .sidebar-toggle-line {
  background: #fc6423;
}
.page-post-detail .comments {
  overflow: hidden;
}
ul.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  padding: 0.5em;
  font-weight: normal;
  content: "/\00a0";
}
ul.breadcrumb li+li:last-child {
  font-weight: bold;
}
.tag-cloud {
  text-align: center;
}
.tag-cloud a {
  display: inline-block;
  margin: 10px;
}
.tag-cloud a:hover {
  color: #7a8088 !important;
}
.post-block.tag {
  padding: 10px 0 30px;
}
.header {
  position: relative;
  margin: 0 auto;
  width: 800px;
}
@media (min-width: 1200px) {
  .header {
    width: 960px;
  }
}
@media (min-width: 1600px) {
  .header {
    width: 1024px;
  }
}
@media (max-width: 991px) {
  .header {
    width: auto;
  }
}
.header-inner {
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 0;
  width: 240px;
  background: #fff;
  border-radius: 0.5rem;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .container .header-inner {
    width: 240px;
  }
}
@media (max-width: 991px) {
  .header-inner {
    position: relative;
    width: auto;
    border-radius: initial;
  }
}
@media (max-width: 991px) {
  .header-inner {
    margin-top: inherit;
  }
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
@media (max-width: 991px) {
  .container .main-inner {
    width: auto;
  }
}
.content-wrap {
  float: right;
  box-sizing: border-box;
  padding: 40px;
  width: calc(100% - 252px);
  background: #fff;
  min-height: 700px;
  border-radius: 0.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    border-radius: initial;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    min-height: auto;
    border-radius: initial;
  }
}
.sidebar {
  position: static;
  float: left;
  margin-top: -100%;
  width: 240px;
  background: #eeeff0;
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
.sidebar-toggle {
  display: none;
}
.footer-inner {
  padding-left: 260px;
}
@media (max-width: 991px) {
  .footer-inner {
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.sidebar-position-right .header-inner {
  right: 0;
}
.sidebar-position-right .content-wrap {
  float: left;
}
.sidebar-position-right .sidebar {
  float: right;
}
.sidebar-position-right .footer-inner {
  padding-left: 0;
  padding-right: 260px;
}
.site-brand-wrapper {
  position: relative;
}
.site-meta {
  padding: 20px 0;
  color: #fff;
  background: #48505b;
}
.brand {
  padding: 0;
  background: none;
}
.brand:hover {
  color: #fff;
}
.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}
.custom-logo-image {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .custom-logo-image {
    display: none;
  }
}
.site-search form {
  display: none;
}
.site-nav {
  border-top: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: none !important;
  }
}
.site-nav-on {
  display: block;
}
.menu-item-active a,
.menu .menu-item a:hover {
  background: #f9f9f9;
  border-bottom-color: #fff;
}
.menu-item-active a:after,
.menu .menu-item a:hover:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  background-color: #bbb;
  border-radius: 50%;
}
.menu .menu-item {
  display: block;
  margin: 0;
}
.menu .menu-item a {
  position: relative;
  box-sizing: border-box;
  padding: 5px 20px;
  text-align: left;
  line-height: inherit;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
@media (hover: none) {
  .menu .menu-item a:hover {
    background: none;
  }
}
.menu .menu-item .badge {
  display: inline-block;
  padding: 2px 5px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #ccc;
  border-radius: 10px;
  float: right;
  margin: 0.35em 0 0 0;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}
.menu .menu-item br {
  display: none;
}
.btn-bar {
  background-color: #fff;
}
.site-nav-toggle {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav-toggle {
    display: block;
  }
}
.sidebar {
  right: auto;
  bottom: auto;
  background: initial;
  -webkit-transform: none;
}
.sidebar a {
  color: #555;
}
.sidebar a:hover {
  color: #222;
  border-bottom-color: #222;
}
.sidebar-inner {
  box-sizing: border-box;
  width: 240px;
  color: #59606a;
  background: #fff;
  border-radius: 0.5rem;
}
.sidebar-inner.affix {
  position: fixed;
  top: 12px;
}
.sidebar-inner.affix-bottom {
  position: absolute;
}
.site-overview {
  text-align: left;
}
.site-author:before,
.site-author:after {
  content: " ";
  display: table;
}
.site-author:after {
  clear: both;
}
.site-state-item {
  padding: 0 10px;
}
.feed-link,
.chat {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}
.feed-link a,
.chat a {
  display: block;
  color: #fc6423;
  border: none !important;
}
.feed-link a:hover,
.chat a:hover {
  background: none;
  color: #e34603;
}
.feed-link a:hover i,
.chat a:hover i {
  color: #e34603;
}
.links-of-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links-of-author-item {
  margin: 5px 0 0;
  width: 50%;
}
.links-of-author-item a {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.links-of-author-item a:before {
  display: none;
}
.links-of-author-item a {
  border-bottom: none;
  text-decoration: underline;
}
.links-of-author-item a {
  display: block;
  text-decoration: none;
}
.links-of-author-item a:hover {
  border-radius: 4px;
  background: #eee;
}
.links-of-author-item .fa {
  margin-right: 2px;
  font-size: 16px;
}
.links-of-author-item .fa-globe {
  font-size: 15px;
}
.links-of-blogroll {
  text-align: center;
  padding: 3px 0 0;
}
.links-of-blogroll-item {
  padding: 0;
}
.links-of-blogroll-inline:before,
.links-of-blogroll-inline:after {
  content: " ";
  display: table;
}
.links-of-blogroll-inline:after {
  clear: both;
}
.links-of-blogroll-inline .links-of-blogroll-item {
  margin: 5px 0 0;
  width: 50%;
  display: inline-block;
  width: unset;
}
.links-of-blogroll-inline .links-of-blogroll-item a {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-wrap {
  padding: initial;
  background: initial;
  border-radius: initial;
}
.post-block {
  background: #fff;
  border-radius: 0.5rem;
  margin-top: 10px;
}
#posts > article + article .post-block {
  margin-top: 12px;
  border-radius: 0.5rem;
}
.comments {
  padding: 40px;
  margin: auto;
  margin-top: 12px;
  background: #fff;
  border-radius: 0.5rem;
}
.posts-expand {
  padding-top: initial;
}
.post-nav-divider {
  width: 4%;
}
.post-nav-item {
  width: 48%;
}
.post-eof {
  display: none;
}
.pagination {
  margin: 12px 0 0;
  border-top: initial;
  background: #fff;
  border-radius: 0.5rem;
  padding: 10px 0 10px;
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  margin-bottom: initial;
  top: initial;
}
.main {
  padding-bottom: initial;
}
.footer {
  bottom: auto;
}
.post-header h1,
.post-header h2 {
  margin: initial;
}
.posts-expand .post-title-link {
  line-height: inherit;
}
.posts-expand .post-title {
  font-size: 1.7em;
}
.post-body h1 {
  font-size: 1.6em;
}
.post-body h1 code {
  font-size: 1em;
}
.post-body h2 {
  font-size: 1.45em;
}
.post-body h2 code {
  font-size: 1em;
}
.post-body h3 {
  font-size: 1.3em;
}
.post-body h3 code {
  font-size: 1em;
}
.post-body h4 {
  font-size: 1.2em;
}
.post-body h4 code {
  font-size: 1em;
}
.post-body h5 {
  font-size: 1.07em;
}
.post-body h5 code {
  font-size: 1em;
}
.post-body h6 {
  font-size: 1.03em;
}
.post-body h6 code {
  font-size: 1em;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    padding: 10px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin-top: 20px;
  }
  .post-block {
    border-radius: 0.5rem;
  }
  #posts > article + article .post-block {
    margin-top: 10px;
  }
  .comments {
    margin-top: 10px;
    padding: 10px 20px;
  }
  .pagination {
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    padding: 8px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin: 12px 0px;
  }
  .posts-expand img {
    padding: initial !important;
  }
  .post-block {
    min-height: auto;
    border-radius: 0.5rem;
  }
  #posts > article + article .post-block {
    margin-top: 8px;
  }
  .comments {
    margin-top: 8px;
    padding: 0 12px;
  }
  .pagination {
    margin: 8px 0 0;
  }
}
.has-jax {
  overflow-x: auto;
  overflow-y: hidden;
}
.moon-menu,
.moon-menu-text {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 4rem;
  height: 4rem;
  z-index: 999;
}
.moon-menu-svg,
.moon-menu-button {
  width: 4rem;
  height: 4rem;
}
.moon-menu-button {
  cursor: pointer;
}
.moon-menu-cricle {
  fill: #607d8b;
  opacity: 0.9;
}
.moon-menu-border {
  stroke: #607d8b;
  opacity: 0.9;
  stroke-width: 1px;
  fill: none;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.moon-menu-points {
  transform: translate3d(2rem, 2rem, 0);
}
.moon-menu-point {
  fill: #fff;
  transition: all 0.15s cubic-bezier(0, 0, 0.382, 1.618);
}
.moon-menu-text {
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 4rem;
  font-size: 1.2rem;
  display: none;
}
.moon-menu-item {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
  display: block;
  transition: all 0.3s cubic-bezier(0, 0, 0.382, 1.618);
  z-index: -1;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  cursor: pointer;
}
.search-pop-overlay {
  background-color: rgba(0,0,0,0.3);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2080;
}
.search-popup {
  background: #fff;
  border-radius: 5px;
  color: #333;
  display: none;
  height: 80%;
  left: 50%;
  margin-left: -350px;
  padding: 0;
  position: fixed;
  top: 10%;
  width: 700px;
  z-index: 9999;
}
@media (max-width: 767px) {
  .search-popup {
    border-radius: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
  }
}
.search-popup .search-icon,
.search-popup .popup-btn-close {
  color: #999;
  display: inline-block;
  font-size: 18px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  width: 18px;
}
.search-popup .popup-btn-close {
  border-left: 1px solid #eee;
  cursor: pointer;
  float: right;
}
.search-popup .popup-btn-close:hover .fa {
  color: #222;
}
.search-popup .search-header {
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}
.search-loading-icon {
  margin: 20% auto 0 auto;
  text-align: center;
}
.search-popup ul.search-result-list {
  margin: 0 5px;
  padding: 0;
}
.search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.search-popup a.search-result-title {
  font-weight: bold;
}
.search-popup .search-keyword {
  border-bottom: 1px dashed #f00;
  color: #f00;
  font-weight: bold;
}
.search-popup #search-result {
  height: calc(100% - 55px);
  overflow: auto;
  padding: 5px 25px;
  position: relative;
}
.search-popup .search-input-container {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  position: absolute;
  width: calc(100% - 90px);
}
.search-popup .search-input-container input {
  background: transparent;
  border: 0;
  display: block;
  height: 20px;
  outline: none;
  padding: 8px 0;
  vertical-align: middle;
  width: 100%;
}
.search-popup #no-result {
  color: #ccc;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
